<!DOCTYPE html>
<html>
<head>
  <title>Listagem</title>
</head>
<body>
  <table border="1px">
    <tr>
      <td>ID</td>
      <td>Nome</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Livro de Node.js</td>
    </tr>
  </table>
</body>
</html>